* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: AvenirBold;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: AvenirRegular;
  src: url("./Fonts/Metropolis/Metropolis-Regular.otf");
}
@font-face {
  font-family: AvenirMedium;
  src: url("./Fonts/Metropolis/Metropolis-Medium.otf");
}
@font-face {
  font-family: AvenirSemiBold;
  src: url("./Fonts/Metropolis/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: AvenirLight;
  src: url("./Fonts/Metropolis/Metropolis-ExtraLight.otf");
}
@font-face {
  font-family: LuloClean;
  src: url("./Fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
}
@font-face {
  font-family: "Lulo-Clean-W01-One-Bold";
  src: url("./Fonts/luloclean/0163ac22-50a7-406e-aa64-c62ee6fbf3d7.eot")
      format("eot"),
    url("./Fonts/luloclean/aee74cb3-c913-4b54-9722-6001c92325f2.woff2")
      format("woff2"),
    url("./Fonts/luloclean/80de9d5d-ab5f-40ce-911b-104e51e93d7c.woff")
      format("woff"),
    url("./Fonts/luloclean/1b46b05b-cfdd-4d82-8c2f-5c6cfba1fe60.ttf")
      format("truetype");
}
body {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper {
  width: 100%;
  height: 100%;
}

.webpage__Wrapper main .hero__Section {
  width: 100%;
  height: 100%;
}
.webpage__Wrapper main .hero__Section .heroImage__Container {
  margin-top: -5rem;
  width: 100%;
  height: 100vh;
}

.webpage__Wrapper main {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webpage__Wrapper main .navbar__Wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  /* border: 4px solid red; */
}
.nav_bgWrapper {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
}
.webpage__Wrapper main .navbar__Wrapper nav {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.webpage__Wrapper main .navbar__Wrapper nav a,
.webpage__Wrapper main .navbar__Wrapper .mobileNav a {
  font-family: AvenirBold;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
  /* font-family: 800; */
  color: #5cb3d7;
  transition: all 0.5s ease;
}

#nav-icon3 {
  width: 30px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.webpage__Wrapper main .navbar__Wrapper .mobileNav {
  position: absolute;
  width: 15rem;
  height: 100vh;
  background-color: white;
  top: 0;
  left: -70%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  z-index: 5;
  transition: all 0.5s ease;
}
.webpage__Wrapper main .navbar__Wrapper .mobileNavOpen {
  left: 0%;
}
.webpage__Wrapper main .navbar__Wrapper .mobileNav a {
  /* color: white; */
  margin-top: 1.5rem;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(201, 194, 194) !important;
}
.webpage__Wrapper main .navbar__Wrapper nav a:hover,
.webpage__Wrapper main .navbar__Wrapper .mobileNav a:hover {
  opacity: 0.65;
}

.webpage__Wrapper main .hero__Section .heroImage__Container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__Section .heroImage__Container .circle__Component {
  width: 100%;
  height: calc(100% - 5rem);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.hero__Section .heroImage__Container .circle__Component .circleBorder {
  width: 35rem;
  height: 35rem;
  border: 6px solid rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}
/* .hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle {
  width: 475px;
  height: 475px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle::before {
  content: " ";
  width: 475px;
  height: 475px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.85);
} */

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer {
  width: 12rem;
  height: 12rem;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .logoContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  letter-spacing: -7px !important;
  font-size: 50px;
  color: #f77355;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  z-index: 1;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .heroCTA {
  color: black;
  border: 3px solid black;
}
.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: 5px solid black;
  font-size: 1rem;
  font-weight: 700;
  font-family: AvenirBold;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
}

.hero__Section
  .heroImage__Container
  .circle__Component
  .circleBorder
  .mainCircle
  .catchUs__Btn:hover {
  background-color: #f77355;
  border: 3px solid #f77355;
  color: white;
}
.intro__Section {
  height: auto;
  width: 100vw;
  max-width: 1116px;
  display: flex;
  align-items: center;
  padding: 4.5rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.intro__Section .leftSide,
.intro__Section .rightSide {
  width: 50%;
  height: 100%;
}

.intro__Section .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro__Section .leftSide .head {
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  letter-spacing: -7px;
  font-size: 6.5rem;
  width: 140%;
  z-index: 1;
  color: #f77355;
  line-height: 1;
}
.intro__Section .leftSide .info {
  padding-top: 2rem;
  width: 80%;
  font-family: AvenirLight;
  line-height: 1.8;
  font-size: 1.2rem;
}
.intro__Section .leftSide .catchUs__Btn {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: 5px solid #f77355;
  color: #f77355;
  font-size: 1rem;
  font-weight: 700;
  font-family: AvenirBold;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
}
.intro__Section .leftSide .catchUs__Btn:hover {
  background-color: #f77355;
  color: white;
}
.intro__Section .leftSide .waves__Container {
  width: 5rem;
  height: 5rem;
}
.intro__Section .leftSide .waves__Container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.intro__Section .rightSide .imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__Section .rightSide .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.middleSection__Container {
  width: 1962px;
  /* height: 100%; */
  height: 45rem;
  /* border: 4px solid blue !important; */
}
.middleSection__Container .innerContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.middleSection__Container .innerContainer .col {
  /* width: 25%; */
}
.middleSection__Container .innerContainer .col1 {
  width: 25%;
  background-color: #f77355;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middleSection__Container .innerContainer .col2,
.middleSection__Container .innerContainer .col4 {
  width: 17.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middleSection__Container .innerContainer .col3 {
  width: 35%;
}
.middleSection__Container .innerContainer .col2 .upperImage,
.middleSection__Container .innerContainer .col4 .upperImage,
.middleSection__Container .innerContainer .col2 .lowerImage,
.middleSection__Container .innerContainer .col4 .lowerImage {
  width: 100%;
  height: 49.35%;
}

.middleSection__Container .innerContainer .col2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.middleSection__Container .innerContainer .col4 {
  margin-left: 0.5rem;
}
.middleSection__Container .innerContainer .col2 .upperImage img,
.middleSection__Container .innerContainer .col4 .upperImage img,
.middleSection__Container .innerContainer .col2 .lowerImage img,
.middleSection__Container .innerContainer .col4 .lowerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middleSection__Container .innerContainer .col3 .imgContainer {
  width: 100%;
  height: 100%;
}
.middleSection__Container .innerContainer .col3 .imgContainer img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
.middleSection__Container .innerContainer .col1 .upperSection {
  width: 100%;
  height: 20%;
}
.middleSection__Container .innerContainer .col1 .upperSection .imgContainer {
  width: 6rem;
  height: 6rem;
}
.middleSection__Container
  .innerContainer
  .col1
  .upperSection
  .imgContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.middleSection__Container .innerContainer .col1 .headLine {
  width: 100%;
  font-size: 40px;
  font-family: Lulo-Clean-W01-One-Bold;
  /* letter-spacing: -7px; */
  color: white;
}
.middleSection__Container .innerContainer .col1 .iconsSection {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.middleSection__Container .innerContainer .col1 .iconsSection .iconContainer {
  width: 2.5rem;
  height: 2.5rem;
}
.middleSection__Container
  .innerContainer
  .col1
  .iconsSection
  .iconContainer
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menuSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.menuSection .headText {
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  letter-spacing: -7px;
  font-size: 6.5rem;
  color: #f77355;
  text-align: center;
  /* list-style: none;12. */
  line-height: 1;
}
.menuSection .headlineText {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: AvenirLight;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  width: 50%;
  color: #aaaaaa;
}
.menuSection .navigationSection {
  /* margin-top: 4rem; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuSection .navigationSection .navBtns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuSection .navigationSection .navBtns .signatureDishes__Btn,
.menuSection .navigationSection .navBtns .buildYourOwnBag__Btn {
  height: 3rem;
  width: 10rem;
  font-family: AvenirLight;
  font-size: 0.85rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: 1px solid #aaaaaa;
}
.menuSection .navigationSection .navBtns .buildYourOwnBag__Btn {
  margin-left: 2rem;
}
.menuSection .menuSection__head {
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuSection .navigationSection {
  width: 100%;
  height: 5%;
}
.menuSection .contentSection {
  width: 100%;
  height: 70%;
  display: flex;
  padding: 2rem;
}
.menuSection .contentSection .contentSection__leftSide {
  width: 30%;
  height: 100%;
  border: 5px solid rgb(219, 214, 214);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.menuSection .contentSection .contentSection__rightSide {
  width: 70%;
  height: 100%;
  /* border: 2px solid red; */
  padding: 21px;
  padding-left: 2rem;
  /* padding-left: 2rem; */
}

.menuSection .contentSection .contentSection__leftSide .head,
.menuSection .contentSection .contentSection__rightSide .upperSection .head {
  text-transform: uppercase;
  font-family: AvenirMedium;
  font-size: 2.5rem;
  color: black;
  text-align: left;
  border-bottom: 4px solid black;
  padding-bottom: 0.5rem;
}

.menuSection .contentSection .contentSection__leftSide .productComponent,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent {
  width: 100%;
  margin-top: 2rem;
  text-align: left;
}

.menuSection .contentSection .contentSection__leftSide .productComponent .upper,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent
  .upper,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent
  .upper,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent
  .upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.menuSection
  .contentSection
  .contentSection__leftSide
  .productComponent
  .upper
  h1,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent
  .upper
  h1,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent
  .upper
  h1,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent
  .upper
  h1 {
  font-size: 1rem;
  font-family: AvenirMedium;
  line-height: 1.5;
}
.menuSection
  .contentSection
  .contentSection__leftSide
  .productComponent
  .upper
  em,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent
  .upper
  em,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent
  .upper
  em,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent
  .upper
  em {
  font-size: 0.8rem;
  font-family: sans-serif;
  color: rgb(114, 110, 116);
}
.menuSection .contentSection .contentSection__leftSide .productComponent .lower,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent
  .lower,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent
  .lower,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent
  .lower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuSection
  .contentSection
  .contentSection__leftSide
  .productComponent
  .lower
  p,
.menuSection
  .contentSection
  .contentSection__rightSide
  .upperSection
  .productComponent
  .lower
  p,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .leftSide
  .productComponent
  .lower
  p,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide
  .productComponent
  .lower
  p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-family: AvenirLight;
  text-align: left;
  line-height: 1.4;
  color: rgb(114, 110, 116);
}

.menuSection .contentSection .contentSection__rightSide .upperSection {
  width: 100%;
  height: 25%;
}

.menuSection .contentSection .contentSection__rightSide .lowerSection {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}

.menuSection .contentSection .contentSection__rightSide .lowerSection .leftSide,
.menuSection
  .contentSection
  .contentSection__rightSide
  .lowerSection
  .rightSide {
  width: 48%;
  height: 100%;
}

.shopSecion {
  width: 1962px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.shopSecion .section__Head {
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  letter-spacing: -7px;
  font-size: 6.5rem;
  color: #f77355;
}
.shopSecion .items_Grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.shopSecion .items_Grid .gridCol {
  display: flex;
}
.shopSecion .items_Grid .col1,
.shopSecion .items_Grid .col3 {
  width: 20%;
  display: flex;
}
.shopSecion .items_Grid .col1 {
  display: flex;
  align-items: flex-end;
}
.shopSecion .items_Grid .col1 .imgContainer,
.shopSecion .items_Grid .col3 .imgContainer {
  width: 100%;
  height: 50%;
}
.shopSecion .items_Grid .col1 .imgContainer img,
.shopSecion .items_Grid .col3 .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.shopSecion .items_Grid .col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.shopSecion .items_Grid .col2 .imgContainer {
  width: 100% !important;
  height: 100%;
}
.shopSecion .items_Grid .col2 .imgContainer img {
  width: 95%;
  height: 100%;
  object-fit: contain;
}
.shopSecion .items_Grid .col2 .imgContainer p {
  width: 100%;
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  font-size: 1rem;
  color: #f77355;
  text-align: center;
}
.newsLetter__Component {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  position: relative;
}
.newsLetter__Component .videoContainer {
  width: 100%;
  height: 100%;
}
.newsLetter__Component .videoContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsletterBg__Image {
  width: 100%;
  height: 100%;
  display: none;
}
.newsletterBg__Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newsLetter__Component .videoContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsLetter__Component .videoContent .headline {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  font-size: 3rem;
  color: white;
}
.newsLetter__Component .videoContent .secondaryText {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: Lulo-Clean-W01-One-Bold;
  font-size: 0.85rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.newsLetter__Component .videoContent .subscriptionContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.newsLetter__Component .videoContent .subscriptionContainer input {
  width: 25rem;
  height: 2.5rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-family: AvenirRegular;
  font-weight: 600;
  letter-spacing: 1px;
  user-select: none;
  -moz-user-select: none;
  outline: none;
}
.newsLetter__Component .videoContent .subscriptionContainer input::placeholder {
  color: white;
}
.newsLetter__Component .videoContent .subscriptionContainer button {
  width: 13rem;
  height: 2.5rem;
  background-color: white;
  color: black;
  border: 2px solid white;
  margin-left: 0.5rem;
  font-family: Lulo-Clean-W01-One-Bold;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.75rem;
}
/* .secondaryText
subscriptionContainer */
.footerComponent {
  width: 100%;
  height: 8rem;
  background-color: #6fe3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerComponent .upper {
  width: 12%;
  display: flex;
  justify-content: space-between;
}
.footerComponent .upper .iconContainer {
  width: 1.75rem;
  height: 1.75rem;
}
.footerComponent .upper .iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1);
}

@media only screen and (max-width: 968px) {
  .intro__Section .leftSide .head {
    font-size: 5rem;
  }
  .intro__Section .leftSide .info {
    font-size: 1rem;
  }
  .footerComponent .upper {
    width: 20%;
  }
}
/* @media only screen and (max-width: 968px) {
  .intro__Section .leftSide .head {
    font-size: 5rem;
  }
  .intro__Section .leftSide .info {
    font-size: 1rem;
  }
} */
@media only screen and (max-width: 800px) {
  .intro__Section .leftSide .head {
    font-size: 4.5rem;
  }
  .intro__Section .leftSide .info {
    font-size: 0.85rem;
  }
  .shopSecion {
    width: 1000px;
    justify-content: space-between;
  }
  .shopSecion .section__Head {
    text-transform: uppercase;
    font-family: Lulo-Clean-W01-One-Bold;
    letter-spacing: -7px;
    font-size: 3.5rem;
    text-align: center;
    color: #f77355;
  }
  .shopSecion .items_Grid .col2 .imgContainer p {
    font-size: 0.75rem;
  }
  .shopSecion .items_Grid .col1,
  .shopSecion .items_Grid .col3 {
    width: 15%;
  }
  .shopSecion .items_Grid .col2 {
    width: 70%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .menuSection .headlineText {
    width: 65%;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 700px) {
  .intro__Section {
    /* font-size: 4.5rem; */
    flex-direction: column;
    padding: 1.25rem;
  }
  .intro__Section .leftSide,
  .intro__Section .rightSide {
    width: 100%;
  }
  .intro__Section .leftSide {
    margin-bottom: 2rem;
  }
  .intro__Section .leftSide .head {
    font-size: 3rem;
  }
  .intro__Section .leftSide .info {
    width: 100%;
    font-size: 1.25rem;
  }
  .menuSection .contentSection {
    flex-direction: column;
  }
  .menuSection .contentSection .contentSection__leftSide,
  .menuSection .contentSection .contentSection__rightSide {
    width: 100%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 630px) {
  .newsLetter__Component .videoContainer {
    width: 100%;
    height: 100%;
    display: none;
  }
  .newsletterBg__Image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .newsLetter__Component .videoContent .subscriptionContainer {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .newsLetter__Component .videoContent .subscriptionContainer input,
  .newsLetter__Component .videoContent .subscriptionContainer button {
    width: 100%;
    margin: 0;
  }
  .newsLetter__Component .videoContent .subscriptionContainer button {
    margin-top: 0.75rem;
  }
  .footerComponent .upper {
    width: 25%;
  }
}

@media only screen and (max-width: 600px) {
  #nav-icon3 {
    display: block;
    margin: 20px;
  }
  .nav_bgWrapper,
  nav,
  nav a {
    display: none;
  }
  .middleSection__Container {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .middleSection__Container .innerContainer {
    width: 100%;
    flex-direction: column;
    margin: 0.75rem;
  }
  .middleSection__Container .innerContainer .col,
  .middleSection__Container .innerContainer .col1,
  .middleSection__Container .innerContainer .col2,
  .middleSection__Container .innerContainer .col3 {
    width: 100%;
    margin: 0;
    border: none;
  }
  .middleSection__Container .innerContainer .col1 {
    padding: 2rem;
    margin-bottom: 0.25rem;
    flex-direction: column;
    align-items: center;
  }
  .middleSection__Container .innerContainer .col1 .upperSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .middleSection__Container .innerContainer .col1 .headLine {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .shopSecion {
    width: 100%;
    max-width: 100%;
    padding: 1rem !important;
  }
  .shopSecion .section__Head {
    width: 100%;
    font-size: 3rem;
    line-height: 1.25;
  }
  .shopSecion .items_Grid {
    flex-direction: column;
  }
  .shopSecion .items_Grid .col1,
  .shopSecion .items_Grid .col3 {
    width: 25%;
  }
  .shopSecion .items_Grid .col1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .shopSecion .items_Grid .col3 {
    align-self: flex-end;
    margin-top: 1rem;
  }
  .shopSecion .items_Grid .col2 {
    width: 100%;
    flex-direction: column;
    align-self: center;
    margin: 0;
  }
  .shopSecion .items_Grid .col2 .imgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .shopSecion .items_Grid .col2 .imgContainer img {
    object-fit: contain;
    width: 100%;
  }
  .shopSecion .items_Grid .col2 .imgContainer p {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .menuSection .contentSection .contentSection__rightSide .lowerSection {
    flex-direction: column;
    width: 100%;
  }
  .menuSection
    .contentSection
    .contentSection__rightSide
    .lowerSection
    .leftSide,
  .menuSection
    .contentSection
    .contentSection__rightSide
    .lowerSection
    .rightSide {
    width: 100%;
  }
  .menuSection .menuSection__head .headText {
    font-size: 3rem;
    line-height: 1.25;
    width: 95%;
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {
  .hero__Section .heroImage__Container .circle__Component .circleBorder {
    width: 25rem;
    height: 25rem;
  }
  .hero__Section
    .heroImage__Container
    .circle__Component
    .circleBorder
    .mainCircle
    .logoContainer {
    width: 9rem;
    height: 9rem;
  }
  .hero__Section
    .heroImage__Container
    .circle__Component
    .circleBorder
    .mainCircle
    .title {
    letter-spacing: -5px;
    font-size: 40px;
    margin-bottom: 1.25rem;
    margin-top: -1rem;
  }
  .footerComponent .upper {
    width: 30%;
  }
  .navigationSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigationSection .navBtns {
    width: 98% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .navigationSection .navBtns .signatureDishes__Btn,
  .navigationSection .navBtns .buildYourOwnBag__Btn {
    width: 50% !important;
    font-size: 0.75rem !important;
    margin: 0;
    padding-bottom: 1rem !important;
  }
  .contentSection {
    margin: 0 !important;
    padding: 0.5rem !important;
  }
  .contentSection .contentSection__leftSide {
    margin-top: 3rem;
  }
  .contentSection .contentSection__rightSide {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 475px) {
  .newsletterBg__Image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .newsLetter__Component .videoContent .headline {
    font-size: 1.75rem;
    letter-spacing: -4px;
  }
  .newsLetter__Component .videoContent .subscriptionContainer {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .newsLetter__Component .videoContent .subscriptionContainer input,
  .newsLetter__Component .videoContent .subscriptionContainer button {
    width: 100%;
    margin: 0;
  }
  .newsLetter__Component .videoContent .subscriptionContainer button {
    margin-top: 0.75rem;
  }
  .footerComponent .upper {
    width: 45%;
  }
  .menuSection .headlineText {
    width: 80%;
    /* margin-top: 2rem; */
  }
}
@media only screen and (max-width: 400px) {
  .hero__Section .heroImage__Container .circle__Component .circleBorder {
    width: 22rem;
    height: 22rem;
  }
  .hero__Section
    .heroImage__Container
    .circle__Component
    .circleBorder
    .mainCircle
    .logoContainer {
    width: 9rem;
    height: 9rem;
  }
  .hero__Section
    .heroImage__Container
    .circle__Component
    .circleBorder
    .mainCircle
    .title {
    letter-spacing: -5px;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
  .hero__Section .circle__Component .circleBorder .mainCircle .catchUs__Btn {
    width: 9rem;
    height: 2.5rem;
    background-color: transparent;
    border: 3px solid #f77355;
    color: #f77355;
    font-size: 1rem;
    font-weight: 700;
    font-family: Lulo-Clean-W01-One-Bold;
    letter-spacing: -2px;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 1;
  }
  .footerComponent .upper {
    width: 45%;
  }
}
